/* Jidoka skin anpassat för tema "Firma" av Bizztheme */

body { 
  background: none;
}
#main_area .container_24 { 
	background: none;
}
#main_area .main-wrap { 
	background: none;
}
#footer_area { 
	background: none;
	border-top: 1px dotted #ccc;
}
#footer_area .container_24 { 
	background: none;
}


/* Fotoinformation i post
-------------------------------- */
.meta-keyword { color:grey;}
.meta-rubrik { color:#993300; font: bold 14px Georgia,serif;}
/*

/* Navigation Menu Widget
-------------------------------- */

/* First level menu items
------------------- */

/* bakgrund till knapp rÃ¶d=#d6333e blÃ¥=#3420e8v orginal 414547*/
.widget .nav-menu { padding:0; border: 1px solid #F2C12E; background: #414547; }
/* fÃ¤rg pÃ¥ text till knappar*/
.widget .nav-menu a  { display:block; padding:6px 18px; line-height:20px; font-size:12px; color:#DDD; border-top:3px solid rgba(0, 0, 0, 0); text-decoration:none }
/* fÃ¤rg pÃ¥ selected bar*/
.widget .nav-menu li.current-menu-item a, .widget .nav-menu li.current_page_item a { color:#ffffff; border-color: #F2C12E }


/* Drop-down menu items
------------------- */
